<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="POST" th:action="@{/registration}">
    <label for="username">Username</label>
    <input name="username" type="text" id="username">
    <br>
    <label for="password">Password</label>
    <input name="password" type="text" id="password">
    <br>
    <input type="submit" value="Add user">
</form>
<a href="/login">Login Page</a>
</body>
</html>